header {
    display: flex;
    justify-content: space-between;
   
    padding: 1%;
    background-color: #3d0101;
    color: rgb(255, 255, 255);
  }


h2{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

body{
    background-color: rgb(3, 52, 5);
}

p{
    justify-content: center;
    color: rgb(255, 0, 0);
    display: block;
    text-align: center;
}
fieldset{
    display: hidden;
}
button{
    background-color: rgb(17, 7, 154);
    color: white;
   
    justify-content: center;
 align-items: center;
text-align: center;
}

.answerButtons{
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
}
#start{ 
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    
}
a{
    background-color: rgb(17, 7, 154);
    color: rgb(255, 255, 255);
   
    justify-content: center;
 align-items: center;
text-align: center;

}





/* /* .answerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
        */
/* } */
/* button {
background-color: aquamarine;
color: brown;
justify-content: center;
align-items: center;
text-align: center;
}

#A {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}
#B {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}
#C {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}
#D {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

.timer {
    display: flex;
    background-color: blueviolet;
}

.start {
    display: flex;
}
.answer {
    text-decoration-color: blue;
    max-width: 70rem;
}

header {
    background-color: aqua;
} */ 